* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'roboto';
    src: url('../font/Roboto-Black.ttf');
}

body,
html {
    width: 100vw;
    height: 100vh;
    background: #28292f;
}

#game-container {
    width: 272px;
    height: 534px;
    font-family: roboto;
    margin: auto;
}